html body {
  background-color: #100d11;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10em;
  padding-right: 10em;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  text-align: center;
}

h1 {
  font-size: 500%;
}

p {
  font-size: 150%;
}

a, a:visited {
  color: whitesmoke;
}

/* Animation */
.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
	        animation: slide-in-top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
    opacity: 1;
  }
}
  